# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Stuff from me playing
client/minecraft/mods/fastcraft-1.9.jar
client/minecraft/Saves
client/minecraft/Logs
client/minecraft/mods/carpentersblocks
client/Thumbs.db
client/minecraft/asm
client/minecraft/minetweaker.log
client/minecraft/crash-reports
client/minecraft/servers.dat
client/minecraft/GameData.class
client/minecraft/Thumbs.db
client/patches
client/order.json
client/natives
client/minecraft/coremods
client/minecraft/reports
client/minecraft/screenshots
client/minecraft/texturepacks
client/minecraft/icon.png
client/minecraft/blueprints
client/minecraft/usernamecache.json
client/instance.cfg
