# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Stuff from me playing
Running-Red-2-Vampire-Money/client/minecraft/mods/fastcraft-1.9.jar
Running-Red-2-Vampire-Money/client/minecraft/Saves
Running-Red-2-Vampire-Money/client/minecraft/Logs
Running-Red-2-Vampire-Money/client/minecraft/mods/carpentersblocks
Running-Red-2-Vampire-Money/client/Thumbs.db
Running-Red-2-Vampire-Money/client/minecraft/asm
Running-Red-2-Vampire-Money/client/minecraft/minetweaker.log
Running-Red-2-Vampire-Money/client/minecraft/crash-reports
Running-Red-2-Vampire-Money/client/minecraft/servers.dat
Running-Red-2-Vampire-Money/client/minecraft/GameData.class
Running-Red-2-Vampire-Money/client/minecraft/Thumbs.db
Running-Red-2-Vampire-Money/client/patches
Running-Red-2-Vampire-Money/client/instance.cfg
Running-Red-2-Vampire-Money/client/order.json
Running-Red-2-Vampire-Money/client/natives
Running-Red-2-Vampire-Money/client/minecraft/coremods
Running-Red-2-Vampire-Money/client/minecraft/reports
Running-Red-2-Vampire-Money/client/minecraft/resourcepacks
Running-Red-2-Vampire-Money/client/minecraft/scripts
Running-Red-2-Vampire-Money/client/minecraft/screenshots
Running-Red-2-Vampire-Money/client/minecraft/texturepacks
Running-Red-2-Vampire-Money/client/minecraft/icon.png
Running-Red-2-Vampire-Money/client/minecraft/blueprints

