# Configuration file

commands {
    # Category is formatted such that the line is this "EventName:Command". An example would be: LivingDeathEvent:say I am dead [default: ]
    S:eventList <
        LivingHurtEvent:effect @a[score_vamp_min=1] 1 9999
        LivingHurtEvent:effect @a[score_vamp_min=2] 3 9999
        LivingHurtEvent:effect @a[score_vamp_min=3] 5 9999
        LivingHurtEvent:effect @a[score_vamp_min=4] 16 9999
        
     >
}


